<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452921174905-pjjj7cf20lsimbmkb3bptg45u24o0lja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452921174905-pjjj7cf20lsimbmkb3bptg45u24o0lja</string>
	<key>API_KEY</key>
	<string>AIzaSyBGQVEOh4TA5fvWPo74rKklxtAYu4u-kkw</string>
	<key>GCM_SENDER_ID</key>
	<string>452921174905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jru-studio.ChatWithAI</string>
	<key>PROJECT_ID</key>
	<string>chatwithai-c02f7</string>
	<key>STORAGE_BUCKET</key>
	<string>chatwithai-c02f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452921174905:ios:5373cda27d536d55895da8</string>
</dict>
</plist>